body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: #fff;
  background: linear-gradient(-45deg, #000, #000, #292422, #09739a, #08922f);
  background-size: 300% 300%;
  /* animation: Gradient 15s ease infinite; */
}
#snake {
  position: absolute;
  top: -5%;
  left: -2%;
  width: 45%;
  height: 55%;
}
#rat {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 20%;
  height: 30%;
}

#endGameLogo {
  opacity: 1;
  animation: Opacity 5s ease-in-out infinite;
}

h1 {
  color: wheat;
  animation: Opacity 5s ease-in-out infinite;
}

.group {
  display: flex;
  justify-content: center;
}

p {
  font-weight: bold;
  transition: 0.5s;
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}

@keyframes Opacity {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  
}